.sv-rating-type-icon
{
  background: url(https://i.imgur.com/w6f4aXE.png) no-repeat!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite17
{
  background: url(https://hypixel.net/attachments/1610386603629-png.2254205/) no-repeat 0 0!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite16
{
  background: url(https://hypixel.net/attachments/1610386629545-png.2254211/) no-repeat 0 0!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite15
{
  background: url(https://i.imgur.com/1uGpYrC.png) no-repeat 0 0!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite14
{
  background-position: 0 -224px!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite13
{
  background-position: 0 -240px!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite12
{
  background-position: 0 -192px!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite11
{
  background-position: 0 -160px!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite10
{
  background-position: 0 -112px!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite9
{
  background-position: 0 0!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite8
{
  background-position: 0 -144px!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite7
{
  background-position: 0 -16px!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite5
{
  background-position: 0 -96px!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite4
{
  background-position: 0 -80px!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite3
{
  background-position: 0 -128px!important;
}

.sv-rating-type-icon--sprite.sv-rating-type-icon--sprite1
{
  background-position: 0 -32px!important;
}

.sv-rating-type--medium
{
  width: 16px!important;
  height: 16px!important;
  padding-right: 21px!important;
}

.sv-rating-type--medium.sv-rating-type-icon--sprite17
{
  padding-right: 16px!important;
  width: 16px!important;
}